**/models/test
**/models/cartpole
**/inference_run/
**/__pycache__/

**/Gymnasium/
**/logs/
**/output/
**/output_gym_full/
output_gym_full/
**/dataset_cartpole_gym_full/
dataset_cartpole_gym_full/
22Jul25_1424_dataset_cartpole_gym_full/
*.pkl
swingup_output_gym_full/